body {
	background-color: #1a0033;
	border : 2px solid #350066;
	color : white;
}

input {
	background-color: #1a0033;
	border : 2px solid #350066;
	color : white;
	border-radius : 8px;
}

button {
	background-color: #1a0033;
	border : 2px solid #350066;
	color : white;
	border-radius : 8px;
}

.container_header {
	min-height : 80px;
	max-height : 10%;
	border-bottom : 2px solid #350066;
	margin : 10px;
	
}

#container_searchKeyword {
	border-radius : 8px;
	width : 50%;
	height : 50px;
	background-color : #350066; 
	display : inline-block;
	margin : 10px;
}

#searchKeyword {
	border : 0px;
	width : 70%;
	height : 40px;
	margin : 5px;
	background-color : #350066; 
	outline : none;
}

.container_bottom {
	min-height : 50px;
	max-height : 10%;
	border-top : 2px solid #350066;
	float : clear;
}

.container_body {
	min-height : 500px;
	max-height : 88%;
}

.container_body_nav {
	width : 20%;
	display : inline-block;	
	float : left;
	cursor: pointer;
}

.container_body_content {
	width : 79%;
	display : inline-block;
}

.create_board {
	border : 2px solid #350066; 
	border-radius : 8px;
	display : inline-block;
	margin : 50px;
}

.create_board input {
	border : 0px;
	width : 300px;
	height : 30px;
	margin : 5px;
}


.create_board.on .create_board_content input{
	height : 200px;
}

.container_board_list {
	margin : 10px 5px 50px 5px;	
}

.container_board {
	border : 2px solid #350066; 
	border-radius : 8px;
	display : inline-block;
	height : 45px;
	width : 200px;
	margin : 5px;
	line-height : 2em;
}

.container_board:hover {
	background-color : #350066;
}

.container_board div {
	margin : 5px;
}

.tag {
	height : 50px;
	line-height : 3em;
}

.tag:hover {
	height : 50px;
	background-color : #350066;
	border-radius : 0 30px 30px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal_board {
	display: none;
	background-color : #350066;
	border-radius : 10px;	
	position : absolute;
	width : 500px;
	height : 500px;
	top : 15%;
	left : 25%;
	padding : 10px;
	z-index : 100;
}

.dim {
	display: none;
	top : 0;
	left : 0;
	position : absolute;
	width : 100%;
	height : 100%;
	opacity : 50%;
	background-color : black;
	z-index : 50;
}